.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 400px;
  height: 50px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-weight: 500;
  top: 7px;
  right: 20px;
  font-size: 20px;
  margin-top: 10px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 140px;
  height: 47px;
  background: orange;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background: #e0e0e0;
  color: #fff;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 260px;
  background: orange;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
  font-size: 20px;
  margin-top: 10px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

/*mode preview*/
.dark-preview {
  background: #fff;
}

.dark-preview div.btn-container i.fa-sun-o {
  color: #fff;
}

.dark-preview div.btn-container i.fa-moon-o {
  color: #fff;
  text-shadow: 0px 0px 11px #fff;
}

.white-preview {
  background: #fff;
}

.white-preview div.btn-container i.fa-sun-o {
  color: #ffa500;
  text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o {
  color: #fff;
}

p.by a {
  text-decoration: none;
  color: #fff;
}

.dark-preview p.by a {
  color: #fff;
}

.white-preview p.by a {
  color: #fff;
}

.btn-color-mode-switch2 {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch2 > label.btn-color-mode-switch-inner2 {
  margin: 0px;
  width: 400px;
  height: 50px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch2 > label.btn-color-mode-switch-inner2:before {
  content: attr(data-on);
  position: absolute;
  font-weight: 500;
  top: 7px;
  right: 20px;
  font-size: 20px;
  margin-top: 10px;
}

.btn-color-mode-switch2 > label.btn-color-mode-switch-inner2:after {
  content: attr(data-off);
  width: 140px;
  height: 47px;
  background: orange;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch2 > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch2 input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch2
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner2 {
  background: #e0e0e0;
  color: #fff;
}

.btn-color-mode-switch2
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner2:after {
  content: attr(data-on);
  left: 260px;
  background: orange;
}

.btn-color-mode-switch2
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner2:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
  font-size: 20px;
  margin-top: 10px;
}

.btn-color-mode-switch2 input[type="checkbox"]:checked ~ .alert {
  display: block;
}

/*mode preview*/
.dark-preview {
  background: #fff;
}

.dark-preview div.btn-container i.fa-sun-o {
  color: #fff;
}

.dark-preview div.btn-container i.fa-moon-o {
  color: #fff;
  text-shadow: 0px 0px 11px #fff;
}

.white-preview {
  background: #fff;
}

.white-preview div.btn-container i.fa-sun-o {
  color: #ffa500;
  text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o {
  color: #fff;
}

p.by a {
  text-decoration: none;
  color: #fff;
}

.dark-preview p.by a {
  color: #fff;
}

.white-preview p.by a {
  color: #fff;
}
