<div class="row justify-content-md-center">
  <img src="../../assets/imgs/unnamed.png" style="width: 150px;" alt="">
</div>
<br>
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="ENERGY CONSUMPTION">
    <app-energy-consumption></app-energy-consumption>
  </mat-tab>
  <mat-tab label="ACTIVE POWER">
    <app-active-power> </app-active-power>
  </mat-tab>
  <mat-tab label="POWER FACTOR"> <app-power-factor></app-power-factor> </mat-tab>
  <mat-tab label="HARMONICS"> <app-harmonics></app-harmonics> </mat-tab>
  <!-- <mat-tab label="SAGSWELL"> <app-sag-swell></app-sag-swell> </mat-tab> -->
</mat-tab-group>
